@import "tailwindcss";

:root {
  --background: #F3F3F3;
  --foreground: #171717;
  --mainOrange: #E7632B;
  --mainBlue:   #0984e3;
  --text-gray:  #373737;
  --primaryShadow: 0 0 17px #e7632b75;
}


@layer base {
  /* Helper classes */  
  .flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input{
    outline: none;
  }
  a:hover, button:hover{
    cursor: pointer;
  }
  .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;  
  padding-right: 1rem;

  /* Breakpoints */
  @media (min-width: 40rem) { /* 640px */
    max-width: 40rem;
  }

  @media (min-width: 48rem) { /* 768px */
    max-width: 48rem;
  }

  @media (min-width: 64rem) { /* 1024px */
    max-width: 64rem;
  }

  @media (min-width: 80rem) { /* 1280px */
    max-width: 80rem;
  }

  @media (min-width: 96rem) { /* 1536px */
    max-width: 96rem;
  }
}

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}
.offer {
  position: relative;
  background-color: var(--mainOrange);
  overflow: hidden;
}

.offer::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('/images/transparentLineBg.png') center center / cover;
  filter: opacity(0.2);
  z-index: 0;
}

.offer > * {
  position: relative;
  z-index: 1;
}

